# Example kubeconfig for using in github actions,
# you will see it referred to as secrets.KUBECONFIG_B64
# Yes, base64 encode the whole thing and throw it into github secrets
# `base64 -w 0 .github/workflows/.kubeconfig.example`
apiVersion: v1
kind: Config
clusters:
- cluster:
    insecure-skip-tls-verify: true
    server: https://< your ngrok domain >
  name: minikube
users:
- name: ci
  user:
    token: < output of `kubectl create token ci` >
contexts:
- context:
    cluster: minikube
    namespace: default
    user: ci
  name: minikube
current-context: minikube
