tracking:
  service:
    type: NodePort
  ingress:
    enabled: false
    ingressClassName: ngrok
    hostname: {{ requiredEnv "NGROK_DOMAIN_NAME" }}
    path: /
    pathType: Prefix
  auth:
    enabled: false
